name: make_whl

on: 
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [ '3.7', '3.8', '3.9' ]
    # 此处将涉及编译后whl适用的平台
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.os }} Python ${{ matrix.python-version }}

    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Make ${{ matrix.python-version }} Whl
        run: |
          # 填写需要编译Whl包的Git仓库
          git clone https://github.com/TIANYUZHOU/mindnlp_wsl
          cd mindnlp_wsl
          python -m pip install -U setuptools wheel
          python setup.py sdist bdist_wheel
        
      - name: Upload File
        uses: actions/upload-artifact@v3
        with: 
          name: mindnlp-Whl-Python${{ matrix.python-version }}
          path: mindnlp_wsl/dist
